/* input.css - Tailwind v4 (CSS-first) + DaisyUI plugin */
@import "tailwindcss";

 @plugin "daisyui" {
   themes: light , night --default;
 }

/* ajustes custom */
html { scroll-behavior: smooth; }

