/* src/input.css (VERSÃO CORRETA E FINAL) */
@import "tailwindcss";

/* * Usando a sintaxe de 'flags' que você encontrou na documentação.
* Define 'light' e 'night', e marca 'night' como o default.
*/
@plugin "daisyui" {
  themes: light, night --default;
}

/* ajustes custom */
html { 
  scroll-behavior: smooth; 
}